<div class="card border-warning min-height mt-1">
        <div class="card-body">
            <h5 class="card-title text-warning">Ajouter une expérience professionnelles</h5>
            {{ form_start(experience_form) }}
                {{form_widget(experience_form.name, {'attr': {'placeholder': 'Titre du poste', 'class':'form-control border-warning'}})}}
                {{form_widget(experience_form.compagny, {'attr': {'placeholder': 'Entreprise', 'class':'form-control border-warning mt-3'}})}}
                <div class="row mt-3">
                    <div class="col-4">
                        {{form_widget(experience_form.localisation, {'attr': {'placeholder': 'Lieu', 'class':'form-control border-warning'}})}}
                    </div>
                    <div class="col-4">
                        {{form_widget(experience_form.startDate, {'attr': {'class':'form-control border-warning'}})}}
                    </div>
                    <div class="col-4">
                        {{form_widget(experience_form.endDate, {'attr': {'class':'form-control border-warning'}})}}
                    </div>
                </div>
                {{form_widget(experience_form.competences, {'attr': {'class':'form-select border-warning mt-3', 'size':'2'}})}}

                {{form_widget(experience_form.description, {'attr': {'placeholder': 'Description du poste', 'class':'form-control border-warning mt-3'}})}}

                {{form_widget(experience_form.enregistrer, {'attr': {'class':'btn btn-warning btn-sm mt-3'}})}}

            {{ form_end(experience_form) }}
        
            <h5 class="card-title text-warning mt-3">Liste des expériences professionnelles</h5>
            <ul>
                {% for experience in experiences %}
                    <li>
                        {{experience.name}}
                        <a href="{{ path('delete_experience', {id:experience.id}) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x" viewBox="0 0 16 16">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>