{% extends 'base.html.twig' %}

{% block title %}Ajouter au CV{% endblock %}

{% block body %}
{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success mt-2">{{ flashMessage }}</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger mt-2">{{ flashMessage }}</div>
{% endfor %}
<div class="container">

    <div class="row">
        <div class="col-11">
            <h1>Ajouter au CV</h1>
        </div>
        <div class="col-1">
            <a class="btn btn-dark" href="{{path('landing_page')}}">Accueil</a>
        </div>
    </div>
        {{include('form/_profil.html.twig')}}

    <div class="row mt-2">
        <div class="col-lg-6 col-md-12">
            {{ include('form/_competence.html.twig') }}
        </div>
        <div class="col-lg-6 col-md-12">
            {{ include('form/_leisure.html.twig') }}
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="col-lg-6 col-md-12">
            {{ include('form/_experience.html.twig') }}
        </div>
        <div class="col-lg-6 col-md-12">
            {{ include('form/_formation.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
